<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Define o documento como uma página HTML5 e inclui o namespace do Thymeleaf para renderização de templates server-side -->

<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <!-- Título da página exibido na aba do navegador -->

    <!-- Inclusão de ícones do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Inclusão do CSS do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Inclusão do CSS customizado -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
    <!-- Barra de Navegação -->
    <div th:replace="fragments/header :: header"></div>
    <!-- Inclui um fragmento de cabeçalho de um arquivo separado -->

    <h1>Lista de Clientes</h1>
    <!-- Título da página -->

    <!-- Botão para abrir o modal de adição de cliente -->
    <div class="center">
        <button th:if="${session.usuarioLogado}" type="button" class="btn btn-primary mb-3" data-bs-toggle="modal"
            data-bs-target="#novoClienteModal">
            Adicionar Cliente
        </button>
        <!-- O botão só é exibido se o usuário estiver logado (verificado pela variável session.usuarioLogado) -->

        <!-- Tabela de clientes -->
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Endereço</th>
                    <th>Celular</th>
                    <!-- A coluna de ações só é exibida se o usuário estiver logado -->
                    <th th:if="${session.usuarioLogado}" colspan="2">Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- Itera sobre a lista de clientes e exibe cada cliente na tabela -->
                <tr th:each="clientes : ${clientes}">
                    <td th:text="${clientes.id}"></td> <!-- Exibe o ID do cliente -->
                    <td th:text="${clientes.nome}"></td> <!-- Exibe o nome do cliente -->
                    <td th:text="${clientes.cpf}"></td> <!-- Exibe o CPF do cliente -->
                    <td th:text="${clientes.email}"></td> <!-- Exibe o email do cliente -->
                    <td th:text="${clientes.endereco}"></td> <!-- Exibe o endereço do cliente -->
                    <td th:text="${clientes.celular}"></td> <!-- Exibe o celular do cliente -->
                    <div th:if="${session.usuarioLogado}">
                        <!-- A seção de ações só é exibida se o usuário estiver logado -->
                        <td>
                            <!-- Botão para editar cliente -->
                            <button type="button" class="btn btn-warning"
                                th:onclick="'editarCliente(' + ${clientes.id} + ')'">Editar</button>
                        </td>
                        <td>
                            <!-- Formulário para excluir cliente -->
                            <form th:action="@{/clientes/{id}/deletar(id=${clientes.id})}" method="post">
                                <button class="btn btn-danger" type="submit"
                                    onclick="return confirm('Tem certeza que deseja deletar este cliente?');">Excluir</button>
                                <!-- Botão de exclusão com uma confirmação de ação para prevenir exclusões acidentais -->
                            </form>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal para Adicionar Novo Cliente -->
    <div th:include="clientes/adicionarCliente"></div>
    <!-- Inclui um fragmento de modal de adição de cliente de um arquivo separado -->

    <!-- Fragmento de login -->
    <div th:include="fragments/login"></div>
    <!-- Inclui um fragmento de modal de login de um arquivo separado -->

    <!-- Função JavaScript para redirecionar para a página de edição do cliente -->
    <script>
        function editarCliente(id) {
            window.location.href = '/clientes/' + id + '/editar';
        }
    </script>

    <!-- Inclusão do JavaScript do Bootstrap para funcionalidades interativas -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>