<!DOCTYPE html>
<html>

<body>
    <!-- Fragmento de Thymeleaf para o cabeçalho -->
    <div th:fragment="header">
        <!-- Barra de navegação usando Bootstrap -->
        <nav class="navbar navbar-light custom-navbar">
            <div class="container">
                <!-- Logotipo ou Nome do Site -->
                <a class="navbar-brand" th:href="@{/}">Minha Loja</a>

                <!-- Links de navegação -->
                <ul class="navbar-nav d-flex flex-row gap-3">
                    <!-- Link para a página inicial -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Início</a>
                    </li>
                    <!-- Link para a página de clientes -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/clientes}">Clientes</a>
                    </li>
                    <!-- Link para a página de produtos -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/produtos}">Produtos</a>
                    </li>
                    <!-- Link para a página de funcionários -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/funcionarios}">Funcionários</a>
                    </li>
                    <!-- Link para a página "Sobre" -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sobre}">Sobre</a>
                    </li>

                    <!-- Link de login/logout -->
                    <li>
                        <!-- Exibe o link de logout se o usuário estiver logado -->
                        <a th:if="${session.usuarioLogado}" class="nav-link" data-bs-toggle="modal"
                            data-bs-target="#confirmLogoutModal">
                            <i style="color: red;" class="bi bi-box-arrow-right"></i> Sair
                        </a>

                        <!-- Exibe o link de login se o usuário não estiver logado -->
                        <a th:if="${session.usuarioLogado == null or !session.usuarioLogado}" class="nav-link"
                            data-bs-toggle="modal" data-bs-target="#loginModal">
                            <i style="color: green;" class="bi bi-box-arrow-in-right"></i> Entrar
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

</html>