<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionários</title>
    <!-- Inclua seu arquivo CSS aqui -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

    <!-- Barra de Navegação -->
    <div th:replace="fragments/header :: header"></div>
    <!-- Inclusão do fragmento de login -->
<div th:include="fragments/login"></div>


    <h1>Está funcionando ?</h1>
</body>